@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import "tailwindcss";

@theme {
  /* COLORS */
  --color-sea: #d0d6f9;

  /* FONT FAMILIES */
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", serif;
  --font-barlow-condensed: "Barlow Condensed", serif;
}

@layer components {
  .text-label {
    @apply text-sm text-sea tracking-[15%] font-barlow-condensed uppercase mb-[12px];
  }
  .text-value {
    @apply text-[1.75rem] text-white font-bellefair uppercase;
  }
  .main-content {
    @apply grid grid-rows-1 text-center lg:text-left lg:place-content-center pt-40 pb-20 lg:py-40 mx-6 md:mx-10;
  }
  .heading-text {
    @apply text-base lg:text-[1.75rem] text-center md:text-left text-white tracking-[4px] uppercase font-barlow-condensed pb-4 md:pb-6;
  }
  .highlight {
    @apply font-bold tracking-[4.72px] opacity-35;
  }
}

.glow-button {
  transition: all 0.3s ease-in-out;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(225, 225, 225, 0.5);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 45px rgba(225, 225, 225, 0.8);
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 20px rgba(225, 225, 225, 0.5);
    transform: scale(1);
  }
}

.rotate-animate {
  animation: rotate 100s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul a,
.linep {
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}
ul a.active::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

@media (max-width: 500px) {
  ul a.active::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
